.stats-wrapper {
  position: relative;
  top: 60px;
  left: 75px;
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.stats-header {
  display: flex;
  padding-left: 8px;
}

#page-title {
  color:#263D51;
  font-size: 34px;
}

.stats-body {
  display: flex;
  flex-direction: row;
}

.stats-menu {
  margin: 16px;
}

.stats-menu h1 {
  border-bottom: 4px solid #4B88Cb;
  font-size: 27px;
}

.stats-menu p:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #A7CF3F;
}

.stats-menu--green {
  color: #A7CF3F;
}

.chart-wrapper {
  background-color: white;
  margin: 16px;
  padding-bottom: 50px;
  overflow: visible;
}

.chart-wrapper h3 {
  border-bottom: 4px solid #4B88Cb;
  margin: 8px;
  padding: 8px;
  font-size: 24px;
  font-family: 'Oswald-Light';
}

.recharts-surface {
  overflow: visible;
  height: auto;
}

.chart-bottom {
  height: 50px;
  color: white;
  margin: 25px;
}