.addscore-wrapper {
  position: relative;
  top: 60px;
  left: 75px;
  margin: 16px;
}

.full-addscore {
  background-color: white;
  margin: 16px 0;
}

.scorecard-top-wrapper {
  padding: 16px;
}

.full-addscore form{
  border-bottom: 4px solid #A7CF3F;
}

.add-score-card {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 16px;
}

.add-score-card td,
.add-score-card th {
  border: 1px solid #263D51;
  margin: 0;
  padding: 0;
}

.wide-col {
  width: 100px;
}

.add-score-card th {
  font-weight: 600;
  background-color: #4B88Cb;
  color: white;
}

#table-data {
  width: 60px;
  border: 1px solid #263D51;
  height: 30px;
  box-sizing: border-box;
}

#table-data input {
  padding: 0;
  width: 48px;
}

.scorecard-lower {
  padding: 0 16px;
}

#table-data input,
#table-data select,
#table-data td,
.add-score-card td {
  box-sizing: border-box;
  border: none;
  text-align: center;
  font-size: 16px;
}

.td-wrapper {
  display: flex;
}

#addbtn {
  background-color: #A7CF3F;
  border-radius: 20px;
  border: 1px solid #A7CF3F;
  height: 40px;
  padding: 0px 35px;
  color: #041D2E;
  font-size: 16px;
  margin: 16px 0;
}

#addbtn:hover {
  cursor: pointer;
  color: white;
}