.course-wrapper {
  position: relative;
  top: 60px;
  left: 75px;
  margin: 16px;
}

.course-info-wrapper {
  display: flex;
  flex-direction: column;
}

.course-top {
  display: flex;
  flex-direction: row;
}

.course-main {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 8px;
  padding: 16px;
  width: 900px;
}

.course-main h2 {
  color: #263D51;
  font-size: 36px;
}

/* RIGHT SIDE BAR THING PART   */
.course-sidebar {
  background-color: white;
  margin: 8px;
  padding: 16px;
  font-size: 14px;
}

.sidebar-section {
  border-bottom: 1px solid #D7D7D7;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.sidebar-section-header {
  color: #263D51;
  font-size: 20px;
  margin-bottom: 12px;
}

.course-sidebar-info {
  display: flex;
  flex-wrap: wrap;
}

.info-chunk {
  display: flex;
  margin: 0 4px;
}

.info-chunk p {
  font-weight: 600;
  margin: 0;
  padding-right: 6px;
}

/* SCORECARD PART */
.course-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: 8px;
  padding: 16px;
  width: 1650px;
}

.course-bottom h2,
.course-sidebar h2 {
  color: #263D51;
  font-size: 30px;
  font-weight: 500;
  margin: 16px 8px;
}

.tee-ratings {
  list-style-type: none;
  margin: 4px 8px;
}

.score-card {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 8px;
}

.score-card td,
.score-card th {
  border: 1px solid #263D51;
  width: 5px;
  text-align: center;
}

.wide-col {
  width: 10%
}

.score-card th {
  font-weight: 600;
  background-color: #4B88Cb;
  color: white;
}